<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XYGouWu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0936D0F81DD2FDA500CBE7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0936D1111DD2FDA500CBE7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0936D11C1DD2FDA500CBE7A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
